.songs {
  display: flex;
  flex-direction: column;
  margin: 0px 5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary);
  padidng: 10px;
}

.add-new-song {
  font-size: 0.9rem;
  background: var(--primary);
}
